body {
    background-color: #CFD8DC;
}

.comment-box {
    min-height: 200px;
    overflow: hidden;
}

.selected-sub-active {
    background-color: orange !important;
    color: white !important;
    text-align:center !important;
    width:100% !important;
}

.sexist-sub {
    background-color: plum !important;
    text-align:center !important;
    width:100% !important;
    color: white !important;
}

.selected-sub {
    color:grey !important;
    text-align:center !important;
    width:100% !important;
}

.subreddit-button {
    width:100% !important;
    text-align:center !important;
}

.jumbo-title {
    background-color: #263238 !important;
}

#intro-container {
    padding-top: 30%;
}

#intro-container input {
    font-size: 80px;
    height: 100px;
}