<template name="navbar">
  <div class="navbar navbar-material-blue-grey">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" >Reddit User Scraper</span>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li style="padding-right:10px;line-height:8px;"><a href="https://github.com/demoore/redditscraper"><i class="fa fa-github fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</template>
