<template name="searchBox">

  <div class="inputs">
    <!-- <form class="form-horizontal search-form"> -->
    <!--   <fieldset> -->
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="mdi-communication-comment"></i></span>
        <input type="text" name="search" placeholder="Search comments…" id="comment-search-box" class="form-control floating-label" />
      </div>
    </div>
    <!--   </fieldset> -->
    <!-- </form> -->
  </div>

</template>
