<template name="status">
  <div class="well page">
    <p>Highest comment? Grossness here?</p>
    <div class="togglebutton">
      <label class="show-sexism">
        <input type="checkbox" checked="{{showSexist}}" />
        &nbsp;&nbsp;&nbsp;Filter sexist subreddits 
      </label>
    </div>
    <h4>Sexism</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-material-deep-purple" style="width: {{sexismPercent}}%"></div>
    </div>
    <span class="pull-right">{{#if sexismPercent}}{{sexismPercent}}%{{/if}}</span>
    <br />
  </div>
</template>
