<template name="status">

    <!-- <div class="togglebutton"> -->
    <!--   <label class="show-sexism"> -->
    <!--     <input type="checkbox" checked="{{showSexist}}" /> -->
    <!--     &nbsp;&nbsp;&nbsp;Filter sexist subreddits  -->
    <!--   </label> -->
    <!-- </div> -->
    <div id="comment-info">
      <a href="#{{highestComment.id}}"><strong>Highest Comment:</strong></a> {{highestComment.ups}} <br>
      <a href="#{{lowestComment.id}}"><strong>Lowest Comment:</strong></a> {{lowestComment.ups}}
    </div>
    <h4>Sexism</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-material-deep-purple" style="width: {{sexismPercent}}%"></div>
    </div>
    <span class="pull-right">{{#if sexismPercent}}{{sexismPercent}}%{{/if}}</span>
    <br />

</template>
