<template name="userForm">
  <div class="well page">
    <div class="inputs">
      <form class="user-input form-horizontal">
        <fieldset>
          <div class="form-group">
            <input type="text" name="userName" value="" id="user-name" class="form-control floating-label" placeholder="Reddit Username" />
            <button id="get-comments" type="submit" class="btn btn-success">Get Comments</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</template>
