<template name="userForm">
  <div class="well page">
    <div class="row">
      <div class="col-md-12">
        <div class="inputs">
          <form class="user-input form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="userName" value="" id="user-name" class="form-control floating-label" placeholder="Reddit Username" />
                  <span class="input-group-btn">
                    <button id="get-comments" type="submit" class="btn btn-success pull-right">Get Comments</button>
                  </span>
                </div>
              </div>
            </fieldset>
          </form>
          {{> searchBox}}
          {{> status}}
        </div>
      </div>
    </div>
  </div>
</template>
